div.post.no-bottom-margin
  .title
    h2
      a(href=post.url)=post.title      
    span.tagline Tags: #{post.tags.join(', ')}
  span.comments
    a(href=post.url)#{post.comments.length} Kommentare
  p.date
    =post.readableday
    span
      =post.readablemonth
  div.post-content
    !=post.bodyParsed
  - if (isLoggedIn) {
  div.admin
    ul
      li
        a(href='/post/edit/' + post.id + '/') Bearbeiten
      li
        a.delete-post(href='#', rel=post.id) L&ouml;schen
  - }
- if (post.comments.length > 0) {
.comments
  - for (var idx in post.comments.toObject()) {
  .comment
    .title
      h4
        =post.comments[idx].title
      span.author von #{post.comments[idx].author} um #{post.comments[idx].readabletime}
      p.date
        =post.comments[idx].readableday
        span
          =post.comments[idx].readablemonth
    div.content!=post.comments[idx].bodyParsed
  - }
- }
div.new-comment
  form(method='post', action='comment')
    fieldset
      legend|Neuer Kommentar
      ol
        li
          label(for='comment[author]') Name:
          em *
          input.required(name='comment[author]', size=50)
        li
          label(for='comment[title]') Titel:
          em &nbsp;
          input(name='comment[title]', size=50)
        li
          label(for='comment[body]') Kommentar:
          em *
          textarea.required(name='comment[body]', rows=11, cols=40)
          .markdown-help
            | <b>Markup-Hilfe</b><ul>
            | <li>Link: [Linktext](http://www.example.org)</li>
            | <li>*text* = <em>text</em></li>
            | <li>**text** = <b>text</b></li>
            | </ul>
        li.submit
          div.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only
            span#submit-button.ui-button-text Senden